* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.navbar .navbar-toggler {
  border: none;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .collapse form .login:active {
  border-color: transparent;
  opacity: 0.8;
}
.navbar .collapse form .sign {
  color: #fff;
  background-color: #e94339;
}

.hero .lft .subTitle {
  color: #191720;
}
.hero .lft .input-group {
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
}
.hero .lft .input-group input {
  background-color: #F6F6F6;
  border: none;
  z-index: 1;
}
.hero .lft .input-group input:focus {
  box-shadow: none;
}
.hero .lft .input-group input::-moz-placeholder {
  color: #AFAFAF;
  font-weight: bold;
}
.hero .lft .input-group input::placeholder {
  color: #AFAFAF;
  font-weight: bold;
}

.download {
  background-color: #f4f4f4;
  border-radius: 10px;
  cursor: pointer;
}
.download .platform h2 {
  color: #090909;
  font-size: 11px;
}
.download:hover {
  opacity: 0.7;
  transition: 0.4s;
}

.feedback .title {
  color: #111111;
}
.feedback .subTitle {
  opacity: 0.7;
}

.swiper-button-next,
.swiper-button-prev {
  right: 0px;
  padding: 23px;
  background-color: #eee;
  border-radius: 50%;
  color: #000 !important;
  fill: black !important;
  stroke: black !important;
  margin-top: 1rem !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: var(--swiper-navigation-top-offset, 80%) !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  left: 50% !important;
  margin-left: 5px !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: initial !important;
  right: 50% !important;
  margin-right: 5px !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 18px !important;
  font-weight: bold;
}

.newsletter {
  background-color: #ffefec;
}
.newsletter .input-group {
  border: 1px solid #fff;
  background-color: #fff;
}
.newsletter .input-group input {
  z-index: 1;
  border: none;
  background-color: #fff;
}
.newsletter .input-group input:focus {
  box-shadow: none;
}
.newsletter .input-group input::-moz-placeholder {
  color: #ABACB4;
  font-weight: 600;
  opacity: 0.8;
}
.newsletter .input-group input::placeholder {
  color: #ABACB4;
  font-weight: 600;
  opacity: 0.8;
}

.footer {
  background-color: #090909;
}
.footer ul li {
  cursor: pointer;
}
.footer ul li:hover:not(:first-child) {
  color: #fff !important;
  opacity: 0.8;
}

.order div .num {
  top: -15%;
  left: -7%;
  z-index: -1;
  color: red;
}

.box {
  background-color: rgba(250, 250, 250, 0.9803921569);
  border-radius: 16px;
  z-index: 3;
}
.box .icon {
  background-color: #fff;
}

.menu .title span {
  color: #ff5331;
}
.menu .subTitle {
  color: #191720;
}
.menu .menuBox {
  background-color: rgba(250, 250, 250, 0.9803921569);
  border-radius: 16px;
  height: auto;
}
.menu .menuBox h1 {
  font-size: 18px !important;
  color: #323232;
}
.menu .menuBox h1 span:first-child {
  color: #ff5331;
}
.menu .menuBox h1 span:last-child {
  color: #009b00;
}
.menu .menuBox .motor {
  width: 45%;
}

.login form .input input {
  box-shadow: none;
  border: 1px solid #000;
}
.login form .input input::-moz-placeholder {
  color: rgba(217, 217, 217, 0.8509803922);
}
.login form .input input::placeholder {
  color: rgba(217, 217, 217, 0.8509803922);
}
.login form .input input:focus {
  border-color: #000;
}
.login form .form-check .form-check-input {
  box-shadow: none;
  cursor: pointer;
}
.login form .submit {
  background-color: #3a5b22;
  color: #fff;
}
.login form .submit:hover {
  opacity: 0.8;
}
.login form .or {
  position: relative;
}
.login form .or:before {
  content: "";
  position: absolute;
  background-color: #ddd;
  width: 48%;
  height: 2px;
  top: 50%;
  left: 0%;
}
.login form .or:after {
  content: "";
  position: absolute;
  background-color: #ddd;
  width: 48.2%;
  height: 2px;
  top: 50%;
  right: 0%;
}
.login .outils .outil {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.login .last a {
  list-style: none;
  -webkit-text-decoration: none;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */