.download {
  background-color: #f4f4f4;
  border-radius: 10px;
  cursor: pointer;
  .platform {
    h2 {
      color: #090909;
      font-size: 11px;
    }
  }
  &:hover {
    // background-color: #fff;
    opacity: 0.7;
    transition: .4s;
  }
}
