.feedback {
  .title {
    color: #111111;
  }
  .subTitle {
    opacity: 0.7;
  }
}

.swiper-button-next,
.swiper-button-prev {
  right: 0px;
  padding: 23px;
  background-color: #eee;
  border-radius: 50%;
  color: #000 !important;
  fill: black !important;
  stroke: black !important;
  margin-top: 1rem !important;
}

// .swiper-button-prev.swiper-button-disabled,
// .swiper-button-next.swiper-button-disabled {
//   background-color: #ff5331;
//   border-radius: 50%;
//   color: #fff !important;
//   opacity: 1 !important;
// }

.swiper-button-prev,
.swiper-button-next {
  top: var(--swiper-navigation-top-offset, 80%) !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  left: 50% !important;
  margin-left: 5px !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: initial !important;
  right: 50% !important;
  margin-right: 5px !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 18px !important;
  font-weight: bold;
}
