.footer{
    background-color: #090909;
    ul{
        li{
            cursor: pointer;
            &:hover:not(:first-child){
                color: #fff !important;
                opacity: .8;
            }
        }
    }
}
