.hero {
    // height: calc(100vh - 69px);
  .lft {
    .subTitle {
      color: #191720;
    }
    .input-group {
        background-color: #F6F6F6;
        border:1px solid #F6F6F6;
      input {
        background-color: #F6F6F6;
        border: none;
        z-index: 1;
        &:focus {
          box-shadow: none;
        }
        &::-webkit-input-placeholder{
            
        }
        &::-moz-placeholder{
            
        }
        &:-ms-input-placeholder{
            
        }
        &::-ms-input-placeholder{
            
        }
        &::placeholder{
            color: #AFAFAF;
            font-weight: bold;
        }
      }
    }
  }
}
