.login {
  form {
    .input {
      input {
        box-shadow: none;
        border: 1px solid #000;
        &::-webkit-input-placeholder {
        }
        &::-moz-placeholder {
        }
        &:-ms-input-placeholder {
        }
        &::-ms-input-placeholder {
        }
        &::placeholder {
          color: #d9d9d9d9;
        }
        &:focus {
          border-color: #000;
        }
      }
    }
    .form-check {
      .form-check-input {
        box-shadow: none;
        cursor: pointer;
      }
    }
    .submit {
      background-color: #3a5b22;
      color: #fff;
      &:hover {
        opacity: 0.8;
      }
    }
    .or {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        background-color: #ddd;
        width: 48%;
        height: 2px;
        top: 50%;
        left: 0%;
      }
        &:after {
            content: "";
            position: absolute;
            background-color: #ddd;
            width: 48.2%;
            height: 2px;
            top: 50%;
            right: 0%;
          }
      }
    }
    .outils {
      .outil {
        border: 1px solid #d9d9d9;
        border-radius: 10px;
      }
    }
    .last {
      a {
        list-style: none;
        -webkit-text-decoration: none;
        text-decoration: none;
      }
    }
  }

