.navbar {
  .navbar-toggler {
    border: none;
    &:focus {
      box-shadow: none;
    }
  }
  .collapse {
    // .navbar-nav{
    // }
    form {
      .login {
        &:active {
          border-color: transparent;
          opacity: 0.8;
        }
      }
      .sign {
        color: #fff;
        background-color: #e94339;
      }
    }
  }
}
