.menu {
  .title {
    span {
      color: #ff5331;
    }
  }
  .subTitle {
    color: #191720;
  }
  .menuBox {
    background-color: #fafafafa;
    border-radius: 16px;
    height: auto;
    h1 {
      font-size: 18px !important;
      color: #323232;
      span:first-child {
        color: #ff5331;
      }
      span:last-child {
        color: #009b00;
      }
    }
    .motor {
      width: 45%;
    }
  }
}
