.newsletter {
  background-color: #ffefec;
  .input-group {
    border: 1px solid #fff;
    background-color: #fff;
    input {
      z-index: 1;
      border: none;
      background-color: #fff;
      &:focus {
        box-shadow: none;
      }
      &::-webkit-input-placeholder {
      }
      &::-moz-placeholder {
      }
      &:-ms-input-placeholder {
      }
      &::-ms-input-placeholder {
      }
      &::placeholder {
        color: #ABACB4;
        font-weight: 600;
        opacity: .8;
      }
    }
  }
}
